body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.right-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.connect-btn {
    padding-right: 0px;
    font-family: "Inria Sans", sans-serif;
    background-color: #2C2C2C;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.tracking-section {
    position: relative;
    width: 100%;
    height: 100%; 
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
}

.tracking-section img {
    display: block;
    width: 100%;
    height: 400px; 
    object-fit: cover; 
}

.tracking-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white; 
    background: rgba(0, 0, 0, 0.5); 
}

.track-quote {
    width: 50%;
    /* padding: 1em; */
}

.track-quote h1 {
    font-size: 48px;
    margin-bottom: 0px;
}

.track-quote button {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    padding: 10px;
    background-color: black;
    border: 3px solid white;
    color: white;
    border-radius: 10px;
}

.trackinput-layout {
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
}

.track-box {
    background-color: #2C2C2C;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid white;
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.track-box input {
    padding: 10px;
    border-radius: 10px;
}

.track-box button {
    background-color: black;
    color: white;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
}

.benefits-section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.row {
    display: flex;
    flex-flow: row;
    column-gap: 25px;
    padding-bottom: 25px;
}

.footer-section {
    padding-top: 10px;
    position: relative;
    text-align: center;
    color: white;
}

.tagline {
    position: absolute;
    top: 0;
    font-size: 2.6rem;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.delivery-quote {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.delivery-quote h3 {
    margin: 0;
}

.delivery-quote button {
    background-color: black;
    color: white;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    border: 3px solid white;
}

.contact-button {
    height: 40%;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 16px 30px;
    border: solid;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}



